.banner-manager {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.banner-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner-form input[type="text"],
.banner-form input[type="file"] {
  padding: 10px;
  font-size: 16px;
}

.banner-form button {
  padding: 12px;
  background: #4a5cf0;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}

.preview-img {
  width: 250px;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}

/* Banner List */
.banner-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.banner-card {
  max-width: 220px;  
  margin: auto;
  padding: 12px;
}


.list-img {
  width: 180px;        /* small fixed width */
  height: 100px;       /* fixed height instead of 150 */
  object-fit: contain;
  border-radius: 6px;
  margin: 0 auto;      /* center */
  display: block;
}


.actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.edit-btn,
.delete-btn {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.edit-btn {
  background: #ffa500;
  color: #fff;
}

.delete-btn {
  background: #ff3b3b;
  color: #fff;
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .preview-img {
    width: 100%;
  }
}
